.toggle{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.imma{
    border : solid;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.5em;

    margin-left: 0.5em;

    font-weight: bold;

    background-color: #E7E7E7;
}

.ligneDescri{
    padding-top: 1em;
}

.inputVehicule{
    margin-top: 1em;
}

.btnValider{
    margin-top: 1em;
}

ion-toggle {
    height: 10px;
    width: 65px;

    padding: 12px;

    --background: #ddd;
    --background-checked: #ddd;

    --handle-background: #eb7769;
    --handle-background-checked: #95c34e;

    --handle-width: 25px;
    --handle-height: 27px;
    --handle-max-height: auto;
    --handle-spacing: 6px;

    --handle-border-radius: 4px;
    --handle-box-shadow: none;

    /* Required for iOS handle to overflow the height of the track */
    overflow: visible;
    contain: none;
}

.btnModif {
    margin : 0.5em
}

